@tailwind base;
@tailwind components;
@tailwind utilities;

@import "components/all.css";

html {
  font-size: 14px;
}

@screen md {
  html {
    font-size: 16px;
  }
}



.maincontent {
  /*padding: 30px;*/
  margin-bottom: 0;
  position: relative;
  background:linear-gradient(0deg, rgba(8, 204, 226, 0.8), rgba(8, 204, 226, 0.8)), url("../img/national-cancer-institute-unsplash-small.jpg")
    center center repeat;
  background-size: cover;
  transition: all 0.2s ease-out;
}

.pagecontent {
    padding-top:  8rem;
}